* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    background-color: #000;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-variant-numeric: lining-nums;
    color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    #mainBackground {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;
    }

    section {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    font-size: 1em;

    &:hover {
        background-color: #fff;
        color: #000;
    }
}

ul {
    list-style: none;

    .multi-column {
        column-count: 4; /* Nombre de colonnes souhaité */
        column-gap: 1em; /* Espace entre les colonnes */
        list-style: none;
        padding: 0;

        li {
            break-inside: avoid; /* Évite que les éléments soient coupés entre les colonnes */
            padding: 0.5em 0; /* Espacement entre les éléments */
        }
    }
}

#black-box {
    display: block !important;
    position: absolute;
    z-index: -1;
}

.black-box, #black-box {
    background-color: black;
    border: 10px solid #fff;
    width: 55vw;
    height: 70vh;
}

.text {
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 4.5vw;
    padding-top: 1em;
}

#home {
    gap: 3vw;

    h1 {
        font-size: 5vw;
        text-align: center;
    }

    .container-round {
        display: flex;
        justify-content: space-between;
        width: 60vw;
        font-size: 2vw;

        .round {
            display: flex;
            flex-direction: column;

            a {
                margin: 10px;
                color: #fff;
                font-weight: bold;
            }
        }
    }

    .btn {
        font-size: 2vw;
    }
}

#user-90s {
    .theme-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
        align-items: center;
		gap: 50px;
		width: 80%;
        margin: auto 0;

        .theme-item {
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: linear-gradient(45deg, #466AA4, #7BD5DC);
            font-size: 3.25rem;
            border: 5px solid #ccc;
            padding: 20px;
            cursor: pointer;
            
            transition: transform 0.2s;
    
            &:not(.visited) {
                &:hover {
                    transform: scale(1.1);
                }
            }
    
            &.visited {
                cursor: not-allowed;
                -webkit-text-stroke: 0;
                color: #253857;
                filter: brightness(0.25);
            }
        }
	}

    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        height: 100%;
    }

    .data-container {
        display: flex;
        align-items: center;
        gap: 0.25em;
        font-size: 5rem;

        > div {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #score {
            background-image: linear-gradient(-45deg, #466AA4, #7BD5DC);
            padding: 0.1em 0.25em;
        }

        #countdown {
            height: 120%;
            border-radius: 50%;
            width: 175px;
            background-color: red;
            text-align: center;
        }
    }

    #current-question {
        text-align: center;
        width: 85vw;
        min-height: 20vh;
        font-size: 5rem;
        padding: 0.25em 1em;
        
        display: flex;
        align-items: center;
        justify-content: center;

        background-size: 100% 100%;
        background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
        background-image: radial-gradient(62% 100% at 10% 0%, #7BD5DCFF 1%, #FF000000 99%),radial-gradient(37% 100% at 85% 15%, #9BD8DAFF 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #697EA7FF 0%, #466AA4 100%);
    
        p {
            transition: font-size 0.5s ease, opacity 0.5s ease;

            &.out {
                font-size: 0;
                opacity: 0;
            }

            &.in {
                font-size: 5rem;
                opacity: 1;
            }
        }
    }
}

#admin-90s {
    display: flex;
    flex-direction: column;
    padding-top: 2em;

    h1 {
        padding-bottom: 1em;
    }

    h2 {
        font-size: 3vw;
        margin-bottom: 1em;
    }

    h3 {
        font-size: 2vw;
        margin-bottom: 1em;
    }

    > div {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .cancel-btn-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 1vw 2vw;
		width: 80%;
        font-size: 1.5em;

        .cancel-btn .btn {
            width: 100%;
            transition: transform 0.2s;
    
            &:not(.visited) {
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
	}
}

//Sass Table [{'white' => 'fff', 'yellow' => ''}]


#admin-finale {
    .container-table {
        width: 100%;
        height: 100%;
        display: grid;
		grid-template-columns: repeat(5, 1fr);
        gap: 5px;
        padding: 5px;

        .flip-container {
            perspective: 1000px;
            cursor: pointer;
    
            // Reset buttons
            background-color: transparent;
          
            .flipper {
                position: relative;
                width: 100%;
                height: 100%;
                transition: transform 0.6s;
                transform-style: preserve-3d;
            
                &.flipped {
                    transform: rotateX(180deg) translateZ(50px);
                }

                .front, .back {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    backface-visibility: hidden;
                }

                .cell-border {
                    border: 5px double #333;
                    width: 100%;
                    height: 100%;

                    .cell {          
                        font-size: 3vw;
                        font-weight: 500;
            
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                    }
                }
            
                .front {
                    background-image: linear-gradient(to bottom, #000, #333);
                    .cell {
                        color: #fff;
                        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
                    }
                }
    
                .back {
                    transform: rotateX(180deg);
    
                    .cell {
                        color: #555;
                    }
                }
            }
        }
    }

}

.external-data-container {
    position: absolute;
    left: 5vw;

    #finale-scores {
        background-image: linear-gradient(-45deg, #466AA4, #7BD5DC);
        padding: 0.1em 0.25em;

        .score {
            &.bleu {
                background-color: #466AA4;
            }

            &.jaune {
                background-color: #d4dc7b;
            }

            &.rouge {
                background-color: #FF0000;
            }
        }
    }

    #finale-countdown {
        height: 120%;
        border-radius: 50%;
        width: 175px;
        background-color: red;
        text-align: center;
        font-size: 5rem;
    }
}

@mixin color-pairs($pairs) {
    @each $pair in $pairs {
        $color-name: nth($pair, 1);
        $color-value: nth($pair, 2);
    
        .back.bg-#{$color-name} {
            background-color: $color-value;
        }
    }
}

$pairs: (
    ("blue", #00f),
    ("red", #f00),
    ("yellow", #ff0),
    ("white", #fff),
);
  
@include color-pairs($pairs);